.swal2-toast {
   
    border: 3px solid #1c3d8c !important; 
    
    border-radius: 12px !important;
    
    .swal2-success-ring {
        border-color: rgba(28, 61, 140, 0.3) !important; 
    }
    .swal2-success-line-tip,
    .swal2-success-line-long {
        background-color: #1c3d8c !important; 
    }
}

.swal2-popup {
  
    border-radius: 20px !important;
}


.swal2-confirm {
    background-color: #1c3d8c !important;
    color: white !important;
    border-radius: 8px !important;
    font-weight: bold !important;
}


.swal2-cancel {
    border-radius: 8px !important;
    font-weight: bold !important;
}
.swal2-container {
  z-index: 9999 !important;
}